<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: htmlHead(title = 'Create new user')"></head>

<body>
<div class="container">
    <div class="row">
        <h1 class="page-header">Create new user</h1>
    </div>

    <div class="row">
        <span class="pull-right" th:include="fragments/logoutButton :: logoutButton"></span>
    </div>

    <div class="row">
        <form action="" method="post" th:object="${createUserRequest}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <h3>Portal</h3>

            <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error : ''">
                <label for="email">Email address</label>
                <input type="email" class="form-control" placeholder="Email address" id="email" th:field="*{email}" required="required"/>
                <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="enabled"/> Enabled
                </label>
            </div>

            <h4>Roles</h4>

            <div class="checkbox">
                <label for="admin_role">
                    <input type="checkbox" id="admin_role" name="roles" value="ROLE_ADMIN"/> Admin
                </label>
            </div>

            <div class="checkbox">
                <label for="supervisor_role">
                    <input type="checkbox" id="supervisor_role" name="roles" value="ROLE_SUPERVISOR"/> Supervisor
                </label>
            </div>

            <div class="checkbox">
                <label for="employee_role">
                    <input type="checkbox" id="employee_role" name="roles" value="ROLE_EMPLOYEE" checked="checked"/> Employee
                </label>
            </div>

            <h3>Trackr</h3>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="withTrackr" onclick="displayTrackr(this.checked)"/> Also create trackr employee
                </label>
            </div>

            <div id="trackr" style="display: none">
                <p>All fields are required.</p>

                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" placeholder="First name" name="firstName" id="firstName"/>
                </div>

                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" id="lastName" name="lastName"/>
                </div>

                <div class="form-group">
                    <label for="federalState">Federal state</label>
                    <select id="federalState" class="form-control" name="federalState">
                        <option>BERLIN</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

</div>
<script type="text/javascript">
    var trackrDiv;
    function displayTrackr(display) {
        if(display) {
            setRequired('firstName');
            setRequired('lastName')
            trackrDiv.style.display = 'block';
        } else {
            removeRequired('firstName')
            removeRequired('lastName')
            trackrDiv.style.display = 'none';
        }
    }

    function setRequired(id) {
        document.getElementById(id).setAttribute('required', 'required');
    }

    function removeRequired(id) {
        document.getElementById(id).removeAttribute('required');
    }

    document.addEventListener("DOMContentLoaded", function() {
        trackrDiv = document.getElementById('trackr');
    });
</script>
</body>

</html>