<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="header">
    <div class="row">
        <h1 class="page-header" th:text="${title ?: 'PAGE_TITLE'}"></h1>
    </div>
    <div class="row">
        <span><a href="landing">Home</a></span>
        <span class="pull-right" th:include="fragments/logoutButton :: logoutButton"></span>
    </div>
    <div th:if="${#vars['flash.warn'] != null}" class="row">
        <div class="alert alert-warning" role="alert" th:text="${#vars['flash.warn']}"></div>
    </div>
</div>
</body>
</html>