<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="logoutButton">
    <span sec:authentication="name"></span>
    <form style="display: inline" method="post" action="logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input class="btn btn-sm" type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>