<!doctype html>
<html lang="en">
<head>
    <base th:href="${@environment.getProperty('techdev.portal.base-url')}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.1.1/css/bootstrap.min.css"/>

    <title>techdev portal</title>

    <script type="text/javascript" src="webjars/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async="async" defer="defer"></script>
    <script src="google/signinCallback.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="page-header">techdev portal</h1>

        <div class="col-lg-5">
            <p>This is the techdev portal. From here you can access our services.</p>
            <p>Please login with Google.</p>
            <span id="signinButton">
                <span
                     class="g-signin"
                     data-callback="googleCallback"
                     th:attr="data-clientid=${@environment.getProperty('techdev.portal.google.client-id')}"
                     data-cookiepolicy="single_host_origin"
                     data-scope="email">
                </span>
            </span>
        </div>
    </div>
</div>
</body>
</html>