<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: htmlHead"></head>

<body>
<div class="container">
    <div class="row">
        <h1 class="page-header">techdev portal</h1>
    </div>

    <div class="row">
         <span class="pull-right" th:include="fragments/logoutButton :: logoutButton"></span>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="listUsers">List users</a><br/>
        <a href="createUser">Create new user</a>
    </div>
</div>
</body>

</html>