<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: htmlHead"></head>

<body>
<div class="container">
    <div class="row">
        <h1 class="page-header">techdev portal</h1>
    </div>

    <div class="row">
         <span class="pull-right">
            <span th:text="${userName}"></span>
            <form style="display: inline" method="post" action="logout">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input class="btn btn-sm" type="submit" value="Logout"/>
            </form>
        </span>
    </div>

</div>
</body>

</html>